VITE_FIREBASE_API_KEY=AIzaSyDDfw3SvkFpM17K-XHrU4BKHakhrxHYl5g
VITE_FIREBASE_AUTH_DOMAIN=sekali-jepret-wedding.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sekali-jepret-wedding
VITE_FIREBASE_STORAGE_BUCKET=sekali-jepret-wedding.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=709477597324
VITE_FIREBASE_APP_ID=1:709477597324:web:a89140b104e04e75a1bba9
